/*  =============================================================================
    
    Copyright © Randy Truong
    ========================================================================== */

/* The nav bar on the side */
nav {
  width: auto;
  height: 100%;

  /* Let nav bar follow the screen */
  position: fixed;

  /* Font color for nav bar */
  color: white;
  font-size: 18px;
  font-weight: bolder;

  /* For the text to be more viewable */
  /*text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  */
  text-shadow: 0px 0px 0px #000000;

  /* Spacing between each dot section within nav bar */
  padding-left: 50px;

  z-index: 100000;

  /* Keeps the nav section in the center */
  display: flex;
  /* Vertically center the nav */
  align-items: center; 
}

.nav-background {
  width: 160px;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.50;
  z-index: 100000;
}

/* The entire nav dot section */
.nav-section {
  
  /*position: relative;*/

  /* When hovering, changes the cursor to the hand */
  cursor: pointer; cursor: hand;
  z-index: 1000001;
}

/* Each individual dot section including the section name */
.nav-bullet-section {
  width: auto;
  height: auto;
  opacity: 1.0;
  padding-right: 10px;
}

/* Represents the dots in the nav section */
.nav-dots {
  width: 9px;
  height: 9px;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #BBBBBB;
  border-radius: 50px 50px 50px 50px;

  /* Spacing between the dots and the section name */
  margin-right: 5px;
}

/* When the nav dots are hovered, change the outline color of the hovered dot */
.nav-dots:hover, .nav-bullet-section:hover .nav-dots {
  border-color: white;
}

/* Initializes the Home dot to be white */
#dot-1 {
  background-color: white;
}

/* =============================================================================

THE BUTTONS FOR NAVIGATING THROUGH PAGES

================================================================================ */

.up-slide-button,
.down-slide-button,
.right-slide-button,
.left-slide-button {
  width: auto;
  background-color: transparent;
  border: none;

  /* The buttons have a default margin/padding to them */
  margin: 0px;
  padding: 0px;

  /*font*/
  font-size: 80px;
  color: #FFFFFF;

  /*Removes the outline when button is clicked*/
  outline: none;

  /* Changes cursor when hovering */
  cursor: pointer; cursor: hand;
}

body.disable-hover .up-slide-button,
body.disable-hover .down-slide-button,
body.disable-hover .right-slide-button,
body.disable-hover .left-slide-button {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -0-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}

.up-slide-button,
.down-slide-button {
  width: 100px;
  position: absolute;
  z-index: 999999;
}

.right-slide-button,
.left-slide-button {
  /*height: 200px;*/
  padding-left: 10px;
  position: absolute;
  z-index: 999999;
}

body.disable-hover .up-slide-button:hover,
body.disable-hover .down-slide-button:hover,
body.disable-hover .right-slide-button:hover,
body.disable-hover .left-slide-button:hover {
  color: #555555;
}

/* Colors of the slide buttons for project 2 */
#project-2 .up-slide-button,
#project-2 .down-slide-button,
#project-2 .right-slide-button,
#project-2 .left-slide-button {
  color: black;
}

#project-2 .up-slide-button:hover,
#project-2 .down-slide-button:hover,
#project-2 .right-slide-button:hover,
#project-2 .left-slide-button:hover{
  color: #AAAAAA;
}

.up-slide-button {
  top: 0;
}

.down-slide-button {
  bottom: 0;
}

.right-slide-button {
  left: auto;
  right: 0;
  
}
.left-slide-button {
  left: 0;
}

@media screen and (max-width: 996px) {
  .nav-background {
    width: 80px;
  } 
}
