/*  =============================================================================
    
    Copyright © Randy Truong
    ========================================================================== */

body {
  height: 100%;

  margin: 0px;
  padding: 0px;

  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pages-vertical,
.pages-horizontal {
  width: auto;
  height: auto;

  position: relative;
  left: 0px;
  top: 0px;
}

.pages-vertical {
  -webkit-transition: top 1.0s;
  -moz-transition: top 1.0s;
  -0-transition: top 1.0s;
  -ms-transition: top 1.0s;
  transition: top 1.0s;
}

.pages-horizontal {
  -webkit-transition: left 1.0s;
  -moz-transition: left 1.0s;
  -0-transition: left 1.0s;
  -ms-transition: left 1.0s;
  transition: left 1.0s;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.page {
  width: 100%;
  height: 100%;

  position: absolute;  

  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text-container {
  
}

span.text-hashtag {
  font-weight: 100;
  font-family: 'Helvitica', sans-serif;
  display: inline;
  float: left;
}

p {
  margin-top: 5px; 
  margin-bottom: 5px;
  display: inline;
}

/* Needed for the width to also including border and padding sizes */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


