/*  =============================================================================
    
    Copyright © Randy Truong
    ========================================================================== */

#work-experience-section {
  top: 100%;

  background-color: #F2F2FF;
  max-width: 100%;
  height: 100vh;
}

.grad-image {
  width: 50%;
  height: 100%;
  background-image: url("../img/gradPose-min.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: none;
  display: inline-block;
}

.about-me-text {
  width: 50%;
  height: 100%;

  /* Font */
  color: #555555;
  font-size: 22px;
  /*font-size: 1vw;*/
  font-weight: 600;

  /* Keeps it right of the div */
  float: right;
  padding: 20px;
  /*vertical-align: middle;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-text h1 {
  font-weight: bold;
}

.pdf-resume {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  /*opacity: 0.50;*/
  z-index: 100000;
}

.about-me-resume {
  /*font-weight: bold;*/
  margin-top: 20px;
  font-size: 22px;
}

.about-me-resume a {
  text-decoration: none;
  color: #777777;
  margin-right: 50px;

  background-color: #EEEEEE;
  border: 1px solid black;
  padding: 10px;
}

.about-me-resume a:hover {
  background-color: #DDDDDD;
}

.about-me-resume .fa {
  color: #777777;
  font-size: 30px;
}

.about-me-resume a:hover .fa{
  color: #0000AA;
}

.about-me-resume img {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
  border-radius: 50%;
}

@media all and (max-width: 1300px), all and (max-height: 650px) {
  .about-me-text {
    font-size: 18px;
  }
}

@media all and (max-height: 620px) {
  .about-me-text {
    font-size: 14px;
  }
}

@media all and (max-width: 1100px), all and (max-height: 560px) {
  .about-me-text {
    font-size: 16px;
  }

  .about-me-resume a {
    font-size: 15px; 
    margin-right: 10px;
  }
  .about-me-resume .fa {
    font-size: 15px;
  }
  .about-me-resume img {
    width: 30px;
    height: 30px;
  }
}

@media all and (max-width: 1000px) {
  .about-me-text {
    font-size: 18px;
  }

  .grad-image {
    background-position: center;
  }

  .about-me-resume img {
    width: 20px;
    height: 20px;
  }
}

@media all and (max-height: 500px) {
  .about-me-text {
    font-size: 15px;
  }
  
}

@media all and (max-width: 900px), all and (max-height: 480px) {
  .about-me-text {
    font-size: 13px;
  }
}

@media all and (max-height: 736px) {
  .about-me-text {
    font-size: 14px;
  }
}


@media all and (max-width: 540px), all and (max-height: 430px) {
  .about-me-text {
    font-size: 11px;
    padding: 10px;
  }

  h1 {
    font-size: 16px;
  }

  .about-me-resume a {
    font-size: 13px;
    margin-right: 1px;
  }
  .about-me-resume .fa {
    font-size: 13px;
  }
}



@media all and (max-width: 400px) {
  .about-me-text {
    font-size: 10px;
    padding: 10px;
  }

  h1 {
    font-size: 12px;
  }

  .about-me-resume a {
    font-size: 11px; 
    margin-right: 5px;
  }
  .about-me-resume .fa {
    font-size: 11px;
  }

  .about-me-resume {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  .about-me-text {
    font-size: 8px;
    padding: 10px;
  }

  .about-me-resume a {
    font-size: 10px; 
    margin-right: 1px;
  }
  .about-me-resume .fa {
    font-size: 10px;
  }
  .about-me-resume img {
    width: 15px;
    height: 15px;
  }
  .about-me-resume {
    font-size: 10px;
  }
}